$sm-break: 576px;
$md-break: 768px;
$lg-break: 992px;
$xl-break: 1200px;

$opacity: .95;

$linux: rgba(#f8bf11, $opacity);
$ubuntu: rgba(#f47421, $opacity);
$fedora: rgba(#062b61, $opacity);
$arch: rgba(#2093d1, $opacity);
$suse: rgba(#71bb44, $opacity);
$gentoo: rgba(#9c9ce7, $opacity);

$dark: #000;
$light: #fff;
