@import 'includes';

body {
  font-family: 'Crimson Text';
  font-size: 22px;
}

.main-content {
  background-image: url('../assets/background.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;

  .tux-container {
    align-items: center;
    display: flex;
    justify-content: center;

    .tux {
      @media screen and (max-width: $sm-break) {
        margin-bottom: 30px;
      }

      margin: 50px 0;
      max-width: 250px;
      transform: scale(0);
    }
  }

  .distros-container {
    @media screen and (max-width: $sm-break) {
      flex-direction: column;
      margin-bottom: 50px;
    }

    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 50px 100px 70px;

    .distro {
      display: flex;
      justify-content: center;
      transform: scale(0);

      @media screen and (max-width: $sm-break) {
        margin: 25px 0;
      }

      img {
        max-width: 100px;
        object-fit: contain;
      }
    }
  }
}

.close-btn {
  background-color: $light;
  border-radius: 3px;
  color: $dark;
  cursor: pointer;
  font-family: 'PT Serif';
  font-size: 18px;
  font-weight: bold;
  padding: 7px 10px;
  position: absolute;
  right: 50px;
  text-align: center;
  text-transform: uppercase;
  top: 30px;
  transform: scale(0);
  z-index: 2;
}

.popup {
  left: 0;
  min-height: 100vh;
  position: absolute;
  top: 0;
  transform: scale(0);
  width: 100%;
  z-index: 1;

  p {
    margin: 30px 50px;
  }

  &.linux {
    background-color: $linux;
  }

  &.ubuntu {
    background-color: $ubuntu;
  }

  &.fedora {
    background-color: $fedora;
    color: $light;
  }

  &.arch {
    background-color: $arch;
  }

  &.suse {
    background-color: $suse;
  }

  &.gentoo {
    background-color: $gentoo;
  }
}

.title {
  @media screen and (max-width: $sm-break) {
    margin: 100px 0 25px;
  }

  display: flex;
  font-family: 'PT Serif';
  justify-content: center;
  margin: 50px 0;
  padding: 10px 50px;
  text-align: center;
}

.about-content {
  background: linear-gradient($linux, lighten($linux, 10%));
  min-height: 100vh;

  .title {
    margin-top: 0;
    padding-top: 50px;
  }

  ul {
    li {
      word-wrap: break-word;
    }
  }
}

.about-link {
  background-color: $light;
  border-radius: 3px;
  margin: 20px auto;
  padding: 7px 10px;

  &:active,
  &:visited,
  &:hover,
  &:link {
    color: $dark;
    text-decoration: none;
  }
}
